.container .cards .imgs1 {
    background: url(./imgs/ABELLA-DANGER.jpg);
}
.container .cards .imgs2 {
    background: url(./imgs/adel-morel.jpg);
}
.container .cards .imgs3 {
    background: url(./imgs/ALAINA-DAWSON.jpg);
}
.container .cards .col-4 {
    background: red;
}
.container .cards .imgs4 {
    background: url(./imgs/alecia-fox.png);
    background-position: center !important;
}
.container .cards .imgs5 {
    background: url(./imgs/ALEX-GREY.jpg);
}
.container .cards .imgs6 {
    background: url(./imgs/alecia-fox.jpg);
}
.container .cards .imgs7 {
    background: url(./imgs/ALEX-GREY.jpg);
}
.container .cards .imgs8 {
    background: url(./imgs/alexa-grace.jpg);
}
.container .cards .imgs9 {
    background: url(./imgs/alisa-amore.jpg);
}
.container .cards .imgs10 {
    background: url(./imgs/ALLI-RAE.jpg);
    background-position-y: center !important;
}


.container .cards .imgs11 {
    background: url(./imgs/ABELLA-DANGER.jpg);
}
.container .cards .imgs12 {
    background: url(./imgs/ABELLA-DANGER.jpg);
}

.container .cards .col-13 {
    background: rgb(205, 131, 255);
}
.container .cards .imgs13 {
    background: url(./imgs/ANNA-DE-VILLE.jpg);
}
.container .cards .imgs14 {
    background: url(./imgs/alecia-fox.jpg);
}
.container .cards .imgs15 {
    background: url(./imgs/ALEX-GREY.jpg);
}
.container .cards .imgs16 {
    background: url(./imgs/alecia-fox.jpg);
}
.container .cards .imgs17 {
    background: url(./imgs/ALEX-GREY.jpg);
}
.container .cards .imgs18 {
    background: url(./imgs/ALEX-GREY.jpg);
}
.container .cards .imgs19 {
    background: url(./imgs/alecia-fox.jpg);
}
.container .cards .imgs20 {
    background: url(./imgs/ALEX-GREY.jpg);
}

.container .cards .imgs21 {
    background: url(./imgs/blaire-ivory1.jpg);
}
.container .cards .imgs22 {
    background: url(./imgs/blaire-ivory.jpg);
}
.container .cards .imgs23 {
    background: url(./imgs/ALAINA-DAWSON.jpg);
}
.container .cards .imgs24 {
    background: url(./imgs/alecia-fox.jpg);
}
.container .cards .imgs25 {
    background: url(./imgs/ALEX-GREY.jpg);
}
.container .cards .imgs26 {
    background: url(./imgs/alecia-fox.jpg);
}

.container .cards .col-27 {
    background: rgb(255, 40, 40);
}
.container .cards .imgs27 {
    background: url(./imgs/casey-calvert.png);
}

.container .cards .col-28 {
    background: rgb(255, 40, 40);
}
.container .cards .imgs28 {
    background: url(./imgs/charity-crawford.jpg);
}
.container .cards .imgs29 {
    background: url(./imgs/alecia-fox.jpg);
}
.container .cards .imgs30 {
    background: url(./imgs/ALEX-GREY.jpg);
}

.container .cards .imgs31 {
    background: url(./imgs/ABELLA-DANGER.jpg);
}

/* .container .cards .col-32 {
    background: rgb(54, 255, 71);
} */
.container .cards .imgs32 {
    background: url(./imgs/dani-daniels.jpg);
}
.container .cards .col-33 {
    background: rgb(54, 255, 71);
}
.container .cards .imgs33 {
    background: url(./imgs/danni-rivers.png);
}
.container .cards .col-34 {
    background: rgb(54, 232, 255);
}
.container .cards .imgs34 {
    background: url(./imgs/elena-koshka.png);
}
.container .cards .imgs35 {
    background: url(./imgs/ALEX-GREY.jpg);
}
.container .cards .col-34 {
    background: rgb(54, 232, 255);
}
.container .cards .imgs36 {
    background: url(./imgs/alecia-fox.jpg);
}

/* .container .cards .col-37 {
    background: rgb(54, 232, 255);
} */
.container .cards .imgs37 {
    background: url(./imgs/elsa-jean.jpg);
    background-position: center !important;
}
.container .cards .col-38 {
    background: rgb(54, 232, 255);
}
.container .cards .imgs38 {
    background: url(./imgs/emily-willis1.png);
}

.container .cards .col-39 {
    background: hotpink;
}
.container .cards .imgs39 {
    background: url(./imgs/eva-elfie.png);
}

.container .cards .col-40 {
    background: rgb(255, 131, 193);
}
.container .cards .imgs40 {
    background: url(./imgs/evelyn-claire.png);
}

.container .cards .imgs41 {
    background: url(./imgs/ABELLA-DANGER.jpg);
}

.container .cards .col-42 {
    background: rgb(205, 131, 255);
}
.container .cards .imgs42 {
    background: url(./imgs/georgia-jones.png);
}
.container .cards .imgs43 {
    background: url(./imgs/ALAINA-DAWSON.jpg);
}

.container .cards .col-47 {
    background: rgb(205, 131, 255);
}
.container .cards .imgs44 {
    background: url(./imgs/alecia-fox.jpg);
}

.container .cards .col-45 {
    background: rgb(205, 131, 255);
}
.container .cards .imgs45 {
    background: url(./imgs/gloria-sol.png);
}
.container .cards .imgs46 {
    background: url(./imgs/alecia-fox.jpg);
}

.container .cards .col-47 {
    background: rgb(205, 131, 255);
}
.container .cards .imgs47 {
    background: url(./imgs/haley-reed.png);
}

.container .cards .col-48 {
    background: rgb(205, 131, 255);
}
.container .cards .imgs48 {
    background: url(./imgs/ivy-aura.png);
}
.container .cards .imgs49 {
    background: url(./imgs/alecia-fox.jpg);
}
.container .cards .imgs50 {
    background: url(./imgs/ALEX-GREY.jpg);
}

.container .cards .col-51 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs51 {
    background: url(./imgs/jane-wilde.png);
}

.container .cards .col-52 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs52 {
    background: url(./imgs/ABELLA-DANGER.jpg);
}

.container .cards .col-53 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs53 {
    background: url(./imgs/jaye-summers.png);
}
.container .cards .imgs54 {
    background: url(./imgs/alecia-fox.jpg);
}

.container .cards .col-55 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs55 {
    background: url(./imgs/jia-lissa.png);
}
.container .cards .imgs56 {
    background: url(./imgs/alecia-fox.jpg);
}
.container .cards .imgs57 {
    background: url(./imgs/ALEX-GREY.jpg);
}
.container .cards .imgs58 {
    background: url(./imgs/ALEX-GREY.jpg);
}
.container .cards .imgs59 {
    background: url(./imgs/alecia-fox.jpg);
}
.container .cards .imgs60 {
    background: url(./imgs/ALEX-GREY.jpg);
}

.container .cards .imgs61 {
    background: url(./imgs/ABELLA-DANGER.jpg);
}
.container .cards .imgs62 {
    background: url(./imgs/ABELLA-DANGER.jpg);
}
.container .cards .imgs63 {
    background: url(./imgs/ALAINA-DAWSON.jpg);
}

.container .cards .col-64 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs64 {
    background: url(./imgs/kendra-sunderland.png);
}

.container .cards .col-65 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs65 {
    background: url(./imgs/kenna-james.png);
}
.container .cards .imgs66 {
    background: url(./imgs/alecia-fox.jpg);
}
.container .cards .imgs67 {
    background: url(./imgs/ALEX-GREY.jpg);
}
.container .cards .imgs68 {
    background: url(./imgs/ALEX-GREY.jpg);
}

.container .cards .col-69 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs69 {
    background: url(./imgs/kyler-quinn.png);
}
.container .cards .imgs70 {
    background: url(./imgs/ALEX-GREY.jpg);
}

.container .cards .imgs71 {
    background: url(./imgs/ABELLA-DANGER.jpg);
}

.container .cards .col-72 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs72 {
    background: url(./imgs/leah-gotti.png);
}
.container .cards .imgs73 {
    background: url(./imgs/ALAINA-DAWSON.jpg);
}

.container .cards .col-74 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs74 {
    background: url(./imgs/little-caprice.png);
}

.container .cards .col-75 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs75 {
    background: url(./imgs/liya-silver.png);
}
.container .cards .imgs76 {
    background: url(./imgs/alecia-fox.jpg);
}
.container .cards .imgs77 {
    background: url(./imgs/ALEX-GREY.jpg);
}
.container .cards .imgs78 {
    background: url(./imgs/ALEX-GREY.jpg);
}
.container .cards .imgs79 {
    background: url(./imgs/alecia-fox.jpg);
}

.container .cards .col-80 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs80 {
    background: url(./imgs/mila-azul.png);
}

.container .cards .imgs81 {
    background: url(./imgs/ABELLA-DANGER.jpg);
}
.container .cards .imgs82 {
    background: url(./imgs/naomi-swann.jpg);
}

.container .cards .col-83 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs83 {
    background: url(./imgs/naomi-woods.png);
}
.container .cards .imgs84 {
    background: url(./imgs/alecia-fox.jpg);
}
.container .cards .imgs85 {
    background: url(./imgs/ALEX-GREY.jpg);
}
.container .cards .imgs86 {
    background: url(./imgs/alecia-fox.jpg);
}
.container .cards .imgs87 {
    background: url(./imgs/ALEX-GREY.jpg);
}
.container .cards .imgs88 {
    background: url(./imgs/ALEX-GREY.jpg);
}
.container .cards .imgs89 {
    background: url(./imgs/alecia-fox.jpg);
}


.container .cards .col-90 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs90 {
    background: url(./imgs/ria-sunn.png);
}

.container .cards .imgs91 {
    background: url(./imgs/ABELLA-DANGER.jpg);
}
.container .cards .imgs92 {
    background: url(./imgs/ABELLA-DANGER.jpg);
}
.container .cards .imgs93 {
    background: url(./imgs/ALAINA-DAWSON.jpg);
}

.container .cards .col-94 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs94 {
    background: url(./imgs/stacy-cruz.png);
}
.container .cards .imgs95 {
    background: url(./imgs/ALEX-GREY.jpg);
}

.container .cards .col-96 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs96 {
    background: url(./imgs/sybil.png);
}

.container .cards .col-97 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs97 {
    background: url(./imgs/ALEX-GREY.jpg);
}

.container .cards .col-98 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs98 {
    background: url(./imgs/tiffany-tatum.png);
}

.container .cards .col-99 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs98 {
    background: url(./imgs/ALEX-GREY.jpg);
}

.container .cards .col-99 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs99 {
    background: url(./imgs/tori-black.png);
}

.container .cards .col-100 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs100 {
    background: url(./imgs/uma-jolie.png);
}

.container .cards .col-101 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs101 {
    background: url(./imgs/alicia-williams.png);
}
.container .cards .imgs104 {
    background: url(./imgs/agatha-vega.jpg);
}

.container .cards .col-107 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs107 {
    background: url(./imgs/lexi-lore.png);
}

/* .container .cards .col-110 {
    background: rgb(200, 255, 0);
} */
.container .cards .imgs110 {
    background: url(./imgs/rachel-james.jpg);
}

.container .cards .imgs115 {
    background: url(./imgs/lacy-lennon12.jpg);
    background-position: center !important;
}
.container .cards .imgs116 {
    background: url(./imgs/ariana-marie.jpg);
    /* background-position: center !important; */
}
.container .cards .imgs117 {
    background: url(./imgs/vanna-bardot.jpg);
    /* background-position: center !important; */
}
.container .cards .col-118 {
    background: rgb(200, 255, 0);
}
.container .cards .imgs118 {
    background: url(./imgs/amelie-lou.png);
    background-position: center !important;
}


/* .container .cards .col-119 {
    background: rgb(200, 255, 0);
} */
.container .cards .imgs119 {
    background: url(./imgs/dolly-leigh.jpg);
    background-position: center !important;
}


/* .container .cards .col-120 {
    background: rgb(200, 255, 0);
} */
.container .cards .imgs120 {
    background: url(./imgs/lika-star.jpg);
    background-position: center !important;
}
.container .cards .imgs121 {
    background: url(./imgs/freya-mayer.jpg);
    /* background-position: center !important; */
}
.container .cards .imgs122 {
    background: url(./imgs/avery-cristy.jpg);
    /* background-position: center !important; */
}
.container .cards .imgs123 {
    background: url(./imgs/alix-lynx.jpg);
    /* background-position: center !important; */
}
.container .cards .imgs124 {
    background: url(./imgs/blake-blossom.jpg);
    /* background-position: center !important; */
}
.container .cards .imgs125 {
    background: url(./imgs/jessie-saint.jpg);
    /* background-position: center !important; */
}
.container .cards .imgs126 {
    background: url(./imgs/lilly-bell.jpg);
    /* background-position: center !important; */
}
.container .cards .imgs127 {
    background: url(./imgs/sadie-blake.jpg);
    /* background-position: center !important; */
}
.container .cards .imgs128 {
    background: url(./imgs/scarlit-scandals.jpg);
    /* background-position: center !important; */
}
.container .cards .imgs129 {
    background: url(./imgs/jessie-saint.jpg);
    /* background-position: center !important; */
}